@charset "UTF-8";

.text-right {
	text-align: right;
}

.form-container {
	display: flex;
	gap: 10px; /* ボタンの間隔 */
}

#alertBox {
	background-color: #f8d7da;
	color: #721c24;
	padding: 12px 20px;
	margin: 20px;
	border: 1px solid #f5c6cb;
	border-radius: 5px;
	width: fit-content;
	transition: opacity 0.5s ease;
}

#alertBox.hide {
	opacity: 0;
	pointer-events: none;
}